@import "./mixins";
@import "./animations";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

$softRed:hsl(0, 94%, 66%);
$softBlue:hsl(231, 69%, 60%);
$textGray:hsl(229, 8%, 60%);
$titleBlue:hsl(229, 31%, 21%);

%button-hovered {
    transition: 0.2s ease;
    transform: translate(1px, -1px);
    cursor: pointer;
}

%after_pseudo {
    content: '';
    position: absolute;
    bottom: 0;
}

%blue-blob {
    z-index: -1;
    width: 600px;
    height: 400px;
    position: absolute;
    bottom: -10%;
    background: $softBlue;

    @include breakpoint(smallpc) {
        width: 500px;
        height: 300px;
    }
}


body {
    font-size: 18px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h3,
h1 {
    color: $titleBlue;
}

h3 {
    font-size: 3em;
    margin: 0 2rem;

    @include breakpoint(smallpc) {
        font-size: 2.4em;
    }
}

p {
    color: $textGray;
    font-size: 1.3em;
}

.activeBar {
    &:first-of-type {
        transform-origin: 0% 0%;
        transform: translateY(-2px) rotate(45deg);
    }

    &:nth-of-type(2) {
        opacity: 0;
    }

    &:last-of-type {
        transform: translateY(1px) rotate(-45deg);
        transform-origin: 0% 100%;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 8rem;
    font-size: 0.9em;

    @include breakpoint(smallpc) {
        margin: 2rem 2rem;
    }

    .menuButton {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 25px;
        width: 35px;
        display: none;

        @include breakpoint(smalltablet) {
            display: flex;
        }

        &__bar {
            height: 5px;
            width: 100%;
            background: #000;
            transition: 0.3s;

        }
    }

    &__navigation {
        display: flex;
        align-items: center;

        @include breakpoint(smalltablet) {
            display: none;
        }

        &__link {
            margin: 0 1rem;
            color: $titleBlue;
            text-transform: uppercase;
            position: relative;
            padding-bottom: 0.3rem;
            overflow: hidden;

            &:hover::after {
                left: 0;
            }

            &:after {
                @extend %after_pseudo;
                height: 2px;
                width: 100%;
                left: -100%;
                background: $titleBlue;
                transition: 0.3s ease;
            }
        }

        &__loginBtn {
            margin: 0 3rem 0 1rem;
            padding: 0.6rem 2rem;
            border: none;
            color: #fff;
            text-transform: uppercase;
            background: $softRed;
            border-radius: 5px;
            letter-spacing: 0.1rem;
            box-shadow: 3px 3px 5px $softRed;
            @extend %button-hovered;

            @include breakpoint(smallpc) {
                margin: 0 1rem;
            }

            &:hover {
                box-shadow: 2px 2px 5px $softRed;
                transform: translate(0, 0);
            }
        }
    }
}

.main {
    position: relative;
    display: flex;
    margin: 12rem 5rem 18rem 8rem;
    justify-content: space-between;

    @include breakpoint(bigpc) {
        font-size: 16px;
    }

    @include breakpoint(mediumpc) {
        font-size: 14px;
    }

    @include breakpoint(smallpc) {
        margin: 12rem 2rem 14rem 4rem;
    }

    @include breakpoint(tablet) {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 8rem 2rem 12rem 4rem;
    }

    &__image {
        @include breakpoint(smallpc) {
            max-height: 350px;

        }

        @include breakpoint(tablet) {
            order: -1;
            margin: 0 0 3rem 0;
        }

        @include breakpoint(bigmobile) {
            width: 100%;
        }
    }

    &__textWrap {
        display: flex;
        flex-direction: column;
        max-width: 900px;
        margin: auto 0;

        @include breakpoint(tablet) {
            align-items: center;
        }

        @include breakpoint(bigpc) {
            max-width: 650px;
            margin-right: 2rem;
        }

        @include breakpoint(tablet) {
            align-items: center;
        }

        &__title {
            font-size: 4em;

            @include breakpoint(mediumpc) {
                font-size: 3em;
            }
        }

        &__text {
            margin: 1.5rem 0;
            font-size: 1.5em;
            line-height: 1.5;
        }

        &__buttons {
            display: flex;

            &__btn {
                padding: 0.8rem 1.5rem;
                border: none;
                border-radius: 5px;
                box-shadow: 3px 3px 5px $textGray;
                background: $softBlue;
                color: #fff;
                @extend %button-hovered;

                &:hover {
                    box-shadow: 2px 2px 5px $textGray;
                    transform: translate(0, 0);
                }

                &:last-of-type {
                    background: rgb(245, 244, 244);
                    margin-left: 1rem;
                    color: $titleBlue;
                }
            }
        }
    }

    &__blob {
        @extend %blue-blob;
        right: -10%;
        border-radius: 40% 0 0 40%;

        @include breakpoint(tablet) {
            top: 10%;
            right: -20%;
        }

    }
}



.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__text {
        margin: 1rem 2rem;
        max-width: 650px;
        text-align: center;
    }

    &__navigation {
        display: flex;
        margin: 2rem 0;

        @include breakpoint(smalltablet) {
            flex-direction: column;
        }

        &__link {
            position: relative;
            color: $titleBlue;
            margin: 0 2rem;
            width: 200px;
            padding-bottom: 1.5rem;
            text-align: center;
            cursor: pointer;

            @include breakpoint(smalltablet) {
                margin: 0;
            }

            &:nth-of-type(2) {
                @include breakpoint(smalltablet) {
                    margin: 2rem 0;
                }
            }

            &:hover span {
                height: 3px;
                background: $softRed;
                box-shadow: 1px 1px 2px $softRed;
            }

            & span {
                @extend %after_pseudo;
                height: 1px;
                background: $textGray;
                width: 132%;
                left: -16%;
                box-shadow: 1px 1px 2px $textGray;
                transition: 0.2s ease;

                @include breakpoint(smalltablet) {
                    width: 200%;
                    left: -50%;
                }
            }
        }

    }

    &__wrapSlider {
        margin: 4rem 0;
        min-height: 350px;
        overflow: hidden;
        max-width: 1200px;

        &__slider {
            display: flex;
            min-width: 1200px;
            transition: 1s;

            &__item {
                display: flex;
                width: 100%;
                min-width: 1200px;
                max-height: 350px;
                margin-right: 3rem;
                align-items: center;
                justify-content: center;

                @include breakpoint(smallpc) {
                    margin-right: 0;
                }

                @include breakpoint(tablet) {
                    flex-direction: column;
                    max-height: 700px;
                    text-align: center;
                }

                &__image {
                    @include breakpoint(smallpc) {
                        max-height: 300px;
                    }

                    @include breakpoint(bigmobile) {
                        max-height: 250px;
                    }

                }


                &__textWrap {
                    max-width: 600px;
                    margin-left: 5rem;

                    @include breakpoint(tablet) {
                        margin: 3rem 2rem 0 2rem;
                    }

                    &__text {
                        margin: 1.5rem 2rem 3rem 2rem;
                    }



                    &__button {
                        text-align: center;
                        display: block;
                        max-width: 120px;
                        padding: 0.6rem 1.5rem;
                        background: $softBlue;
                        border: none;
                        box-shadow: 3px 3px 5px $softBlue;
                        border-radius: 5px;
                        color: #fff;
                        @extend %button-hovered;
                        margin: 0 auto;

                        &:hover {
                            box-shadow: 2px 2px 5px $softBlue;
                            transform: translate(0, 0);
                        }
                    }

                }
            }
        }



    }

    &__blob {
        @extend %blue-blob;
        left: -10%;
        width: 800px;
        border-radius: 0 40% 40% 0;

        @include breakpoint(tablet) {
            width: 450px;
        }

        @include breakpoint(tablet) {
            top: 40%;
        }
    }

}

.activeLink span {
    height: 3px;
    background: $softRed;
    box-shadow: 1px 1px 2px $softRed;
}

.extensions {
    margin: 12rem 0 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include breakpoint(tablet) {
        margin: 8rem 0;
    }

    &__text {
        text-align: center;
        max-width: 600px;
        margin: 1.5rem 2rem;
    }

    &__browsers {
        margin: 3rem 0 5rem 0;
        display: flex;
        min-height: 500px;

        @include breakpoint(tablet) {
            margin: 1rem 2rem;
        }

        @include breakpoint(tablet) {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        &__item {
            display: flex;
            align-items: center;
            flex-direction: column;
            box-shadow: 1px 5px 10px $textGray;
            border-radius: 20px;
            padding: 2rem;
            overflow-x: hidden;

            &__title {
                margin: 1.5rem 0 1rem 0;

            }

            &__subtext {
                font-size: 0.8em;
                margin-bottom: 2rem;
            }

            &__button {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 140%;
                    left: -20%;

                    border-top: 6px dotted $textGray;
                    top: -80%;
                    opacity: 0.4;
                }

                display: block;
                margin-top: 2rem;
                padding: 0.8rem 1.5rem;
                background: $softBlue;
                color: #fff;
                border-radius: 5px;
                font-size: 0.8em;
                box-shadow: 4px 4px 4px $softBlue;
                transition: 0.2s ease;

                &:hover {
                    box-shadow: 2px 2px 5px $softBlue;
                }
            }

            &:first-of-type {
                align-self: flex-start;

                @include breakpoint(tablet) {
                    align-self: center;
                }
            }

            &:nth-of-type(2) {
                align-self: center;
                margin: 0 4rem;

                @include breakpoint(tablet) {
                    margin: 0 2rem;
                }
            }

            &:last-of-type {
                align-self: flex-end;

                @include breakpoint(tablet) {
                    align-self: center;
                    margin: 2rem 0 0 0;
                }

            }
        }
    }
}

.FAQ {
    text-align: center;
    margin-bottom: 8rem;

    &__text {
        max-width: 600px;
        margin: 2rem;
    }

    &__itemsWrap {
        max-width: 800px;
        margin: 0 auto;

        @include breakpoint(tablet) {
            margin: 0 2rem;
        }


        &__item {
            overflow: hidden;
            user-select: none;
            cursor: pointer;

            &__question {
                display: flex;
                justify-content: space-between;
                color: $titleBlue;
                margin: 1rem 0;
                position: relative;
                padding-bottom: 1rem;

                &:after {
                    @extend %after_pseudo;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: $textGray;
                    opacity: 0.4;
                }

                &__img {
                    max-height: 10px;
                    transition: 0.2s;
                }
            }

            &__answer {
                transition: max-height 0.6s;
                max-height: 0;
                font-size: 1.2em;
                text-align: left;
            }

        }
    }

    &__button {
        margin: 2rem auto;
        max-width: 120px;
        display: block;
        padding: 0.8rem 1.5rem;
        background: $softBlue;
        color: #fff;
        border-radius: 5px;
        font-size: 0.8em;
        box-shadow: 3px 3px 5px $softBlue;
        margin-top: 2rem;
        @extend %button-hovered;

        &:hover {
            transform: translate(0);
            box-shadow: 2px 2px 5px $softBlue;
        }
    }
}

.rotateArrow {
    transform: rotate(180deg);
}

.activeAnswer {
    max-height: 20rem;
}


.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: $softBlue;
    padding: 4rem 0;
    text-align: center;

    &__count {
        font-size: 1em;
        letter-spacing: 0.2rem;
        color: #fff;
    }

    &__title {
        max-width: 650px;
        color: #fff;
        margin: 2rem;
    }

    &__form {
        display: flex;
        justify-content: center;

        @include breakpoint(tablet) {
            flex-direction: column;
            align-items: center;
            width: 80%;
            margin: 0 2rem;
        }

        &__input {
            padding: 0.8rem;
            border-radius: 5px;
            min-width: 300px;
            margin-right: 1rem;
            border: none;
            font-size: 1em;
            transition: 0.2s ease;

            @include breakpoint(tablet) {
                margin: 0 0 1rem 0;
            }

            &::placeholder {
                opacity: 0.4;
            }

            &:focus-visible {
                outline: none;
            }

            &:active,
            &:focus {
                box-shadow: 2px 2px 3px $textGray;
            }
        }

        &__button {
            padding: 1rem 2rem;
            border: none;
            color: #fff;
            text-transform: uppercase;
            background: $softRed;
            box-shadow: 1px 1px 2px $titleBlue;
            border-radius: 5px;
            letter-spacing: 0.1rem;
            @extend %button-hovered;

            @include breakpoint(tablet) {
                min-width: 325px;
            }

            &:hover {
                transform: translate(0);
            }
        }
    }
}

.footer {
    display: flex;
    background: $titleBlue;
    padding: 2rem 8rem;

    @include breakpoint(tablet) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__logo {
        max-height: 40px;
        max-width: 200px;
    }

    &__navigation {
        margin: 0 4rem;



        @include breakpoint(tablet) {
            margin: 2rem 0;
        }

        &__link {
            text-transform: uppercase;
            color: $textGray;
            font-size: 0.8em;
            transition: 0.2s ease;

            &:nth-of-type(2) {
                margin: 0 2rem;
            }

            &:hover {
                opacity: 0.6;
            }
        }
    }

    &__socials {
        &__facebookLogo {
            margin: 0 2rem 0 auto;
            transition: 0.2s ease;
            cursor: pointer;
            max-height: 20px;
            max-width: 20px;

            @include breakpoint(tablet) {
                margin: 0 2rem 0 2rem;
            }

            &:hover {
                opacity: 0.6;
            }
        }

        &__twitterLogo {
            transition: 0.2s ease;
            cursor: pointer;
            max-height: 20px;
            max-width: 20px;

            &:hover {
                opacity: 0.6;
            }
        }
    }

}